    /**
    * {{summary}}
    *
{{#pathParams}}
    * @param {{paramName}} {@link {{dataType}} } {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}{{/required}}
{{/pathParams}}
{{#bodyParams}}
    * @param {{paramName}} {@link {{dataType}} } {{description}} (required)
{{/bodyParams}}
{{#queryParams}}
    * @param {{paramName}} {@link {{dataType}} } Query: {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}{{/required}}
{{/queryParams}}
    * @param requestOptions {@link RequestOptions } Object to store additional data such as idempotency-keys (optional)
{{#returnType}}
    * @return {@link {{.}} }
{{/returnType}}
    * @throws ApiException if fails to make API call
{{#isDeprecated}}
    * @deprecated
{{/isDeprecated}}
{{#externalDocs}}
    * {{description}}
    * @see <a href="{{url}}">{{summary}} Documentation</a>
{{/externalDocs}}
    */