/*
 * Foreign Exchange API
 *
 * The version of the OpenAPI document: 1
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.foreignexchange;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.foreignexchange.CalculateRateRequest;
import com.adyen.model.foreignexchange.CalculateRateResponse;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;

public class RatesApi extends Service {

  public static final String API_VERSION = "1";

  protected String baseURL;

  /**
   * Rates constructor in {@link com.adyen.service.foreignexchange package}.
   *
   * @param client {@link Client } (required)
   */
  public RatesApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://balanceplatform-api-test.adyen.com/fx/api/v1");
  }

  /**
   * Rates constructor in {@link com.adyen.service.foreignexchange package}. Please use this
   * constructor only if you would like to pass along your own url for routing or testing purposes.
   * The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public RatesApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Calculate amount in a different currency
   *
   * @param calculateRateRequest {@link CalculateRateRequest } (required)
   * @return {@link CalculateRateResponse }
   * @throws ApiException if fails to make API call
   */
  public CalculateRateResponse calculate(CalculateRateRequest calculateRateRequest)
      throws ApiException, IOException {
    return calculate(calculateRateRequest, null);
  }

  /**
   * Calculate amount in a different currency
   *
   * @param calculateRateRequest {@link CalculateRateRequest } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link CalculateRateResponse }
   * @throws ApiException if fails to make API call
   */
  public CalculateRateResponse calculate(
      CalculateRateRequest calculateRateRequest, RequestOptions requestOptions)
      throws ApiException, IOException {
    String requestBody = calculateRateRequest.toJson();
    Resource resource = new Resource(this, this.baseURL + "/rates/calculate", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, null);
    return CalculateRateResponse.fromJson(jsonResult);
  }
}
