    /**
    * {{summary}}
    *
{{#requiredParams}}
    * @param {{paramName}} {@link {{dataType}} } {{description}} (required)
{{/requiredParams}}
{{#bodyParams}}
    * @param {{paramName}} {@link {{dataType}} } {{description}} (required)
{{/bodyParams}}
{{#returnType}}
    * @return {@link {{.}} }
{{/returnType}}
    * @throws ApiException if fails to make API call
{{#isDeprecated}}
    * @deprecated {{#vendorExtensions.x-deprecatedInVersion}}since {{#appName}}{{{.}}}{{/appName}} v{{.}}{{/vendorExtensions.x-deprecatedInVersion}}{{#vendorExtensions.x-deprecatedMessage}}
    * {{{.}}}{{/vendorExtensions.x-deprecatedMessage}}
{{/isDeprecated}}
{{#externalDocs}}
    * {{description}}
    * @see <a href="{{url}}">{{summary}} Documentation</a>
{{/externalDocs}}
    */