/*
 * Management API
 *
 * The version of the OpenAPI document: 1
 * Contact: developer-experience@adyen.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.adyen.service.management;

import com.adyen.ApiKeyAuthenticatedService;
import com.adyen.Client;
import com.adyen.constants.ApiConstants;
import com.adyen.model.management.JSON;
import com.adyen.model.management.CompanyApiCredential;
import com.adyen.model.management.CreateCompanyApiCredentialRequest;
import com.adyen.model.management.CreateCompanyApiCredentialResponse;
import com.adyen.model.management.ListCompanyApiCredentialsResponse;
import com.adyen.model.management.RestServiceError;
import com.adyen.model.management.UpdateCompanyApiCredentialRequest;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.ManagementResource;

import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class ApiCredentialsCompanyLevel extends ApiKeyAuthenticatedService {
    public ApiCredentialsCompanyLevel(Client client) {
        super(client);
        new JSON();
    }

    /**
     * Get a list of API credentials
     *
     * @param companyId The unique identifier of the company account. (required)
     * @param queryParams  (optional)
     *    pageNumber: The number of the page to fetch. (optional)<br />
     *    pageSize: The number of items to have on a page, maximum 100. The default is 10 items on a page. (optional)<br />
     * @return ListCompanyApiCredentialsResponse
     * @throws ApiException if fails to make API call
     */
    public ListCompanyApiCredentialsResponse listApiCredentials(String companyId, Map<String, String> queryParams) throws ApiException, IOException {
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId'", 400);
        }

        Map<String, String> pathParams = new HashMap<>();
        pathParams.put("companyId", companyId);

        String requestBody = null;
        ManagementResource resource = new ManagementResource(this, "/companies/{companyId}/apiCredentials");
        String jsonResult = resource.request(requestBody, null, ApiConstants.HttpMethod.GET, pathParams, queryParams);
        return ListCompanyApiCredentialsResponse.fromJson(jsonResult);
    }
    
    /**
     * Get an API credential
     *
     * @param companyId The unique identifier of the company account. (required)
     * @param apiCredentialId Unique identifier of the API credential. (required)
     * @return CompanyApiCredential
     * @throws ApiException if fails to make API call
     */
    public CompanyApiCredential getApiCredential(String companyId, String apiCredentialId) throws ApiException, IOException {
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId'", 400);
        }
        if (apiCredentialId == null) {
            throw new ApiException("Missing the required parameter 'apiCredentialId'", 400);
        }

        Map<String, String> pathParams = new HashMap<>();
        pathParams.put("companyId", companyId);
        pathParams.put("apiCredentialId", apiCredentialId);

        String requestBody = null;
        ManagementResource resource = new ManagementResource(this, "/companies/{companyId}/apiCredentials/{apiCredentialId}");
        String jsonResult = resource.request(requestBody, null, ApiConstants.HttpMethod.GET, pathParams);
        return CompanyApiCredential.fromJson(jsonResult);
    }
    
    /**
     * Update an API credential.
     *
     * @param companyId The unique identifier of the company account. (required)
     * @param apiCredentialId Unique identifier of the API credential. (required)
     * @param updateCompanyApiCredentialRequest  (optional)
     * @return CompanyApiCredential
     * @throws ApiException if fails to make API call
     */
    public CompanyApiCredential updateApiCredential(String companyId, String apiCredentialId, UpdateCompanyApiCredentialRequest updateCompanyApiCredentialRequest) throws ApiException, IOException {
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId'", 400);
        }
        if (apiCredentialId == null) {
            throw new ApiException("Missing the required parameter 'apiCredentialId'", 400);
        }

        Map<String, String> pathParams = new HashMap<>();
        pathParams.put("companyId", companyId);
        pathParams.put("apiCredentialId", apiCredentialId);

        String requestBody = updateCompanyApiCredentialRequest.toJson();
        ManagementResource resource = new ManagementResource(this, "/companies/{companyId}/apiCredentials/{apiCredentialId}");
        String jsonResult = resource.request(requestBody, null, ApiConstants.HttpMethod.PATCH, pathParams);
        return CompanyApiCredential.fromJson(jsonResult);
    }
    
    /**
     * Create an API credential.
     *
     * @param companyId The unique identifier of the company account. (required)
     * @param createCompanyApiCredentialRequest  (optional)
     * @return CreateCompanyApiCredentialResponse
     * @throws ApiException if fails to make API call
     */
    public CreateCompanyApiCredentialResponse createApiCredential(String companyId, CreateCompanyApiCredentialRequest createCompanyApiCredentialRequest) throws ApiException, IOException {
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId'", 400);
        }

        Map<String, String> pathParams = new HashMap<>();
        pathParams.put("companyId", companyId);

        String requestBody = createCompanyApiCredentialRequest.toJson();
        ManagementResource resource = new ManagementResource(this, "/companies/{companyId}/apiCredentials");
        String jsonResult = resource.request(requestBody, null, ApiConstants.HttpMethod.POST, pathParams);
        return CreateCompanyApiCredentialResponse.fromJson(jsonResult);
    }
    
}
