/*
 * Management API
 *
 * The version of the OpenAPI document: 3
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.management;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.management.CertificateSearchResponse;
import com.adyen.model.management.ClientCertificateRequest;
import com.adyen.model.management.ClientCertificateWithChain;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class ClientCertificatesCompanyLevelApi extends Service {

  public static final String API_VERSION = "3";

  protected String baseURL;

  /**
   * Client certificates - company level constructor in {@link com.adyen.service.management
   * package}.
   *
   * @param client {@link Client } (required)
   */
  public ClientCertificatesCompanyLevelApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://management-test.adyen.com/v3");
  }

  /**
   * Client certificates - company level constructor in {@link com.adyen.service.management
   * package}. Please use this constructor only if you would like to pass along your own url for
   * routing or testing purposes. The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public ClientCertificatesCompanyLevelApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Generate a client certificate
   *
   * @param companyId {@link String } (required)
   * @param clientCertificateRequest {@link ClientCertificateRequest } Certificate signing request
   *     details. (required)
   * @return {@link ClientCertificateWithChain }
   * @throws ApiException if fails to make API call
   */
  public ClientCertificateWithChain generateClientCertificate(
      String companyId, ClientCertificateRequest clientCertificateRequest)
      throws ApiException, IOException {
    return generateClientCertificate(companyId, clientCertificateRequest, null);
  }

  /**
   * Generate a client certificate
   *
   * @param companyId {@link String } (required)
   * @param clientCertificateRequest {@link ClientCertificateRequest } Certificate signing request
   *     details. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link ClientCertificateWithChain }
   * @throws ApiException if fails to make API call
   */
  public ClientCertificateWithChain generateClientCertificate(
      String companyId,
      ClientCertificateRequest clientCertificateRequest,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (companyId == null) {
      throw new IllegalArgumentException("Please provide the companyId path parameter");
    }
    pathParams.put("companyId", companyId);

    String requestBody = clientCertificateRequest.toJson();
    Resource resource =
        new Resource(this, this.baseURL + "/companies/{companyId}/clientCertificates", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
    return ClientCertificateWithChain.fromJson(jsonResult);
  }

  /**
   * Retrieve all valid client certificates for this company
   *
   * @param companyId {@link String } (required)
   * @return {@link CertificateSearchResponse }
   * @throws ApiException if fails to make API call
   */
  public CertificateSearchResponse listClientCertificates(String companyId)
      throws ApiException, IOException {
    return listClientCertificates(companyId, null);
  }

  /**
   * Retrieve all valid client certificates for this company
   *
   * @param companyId {@link String } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link CertificateSearchResponse }
   * @throws ApiException if fails to make API call
   */
  public CertificateSearchResponse listClientCertificates(
      String companyId, RequestOptions requestOptions) throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (companyId == null) {
      throw new IllegalArgumentException("Please provide the companyId path parameter");
    }
    pathParams.put("companyId", companyId);

    String requestBody = null;
    Resource resource =
        new Resource(this, this.baseURL + "/companies/{companyId}/clientCertificates", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams);
    return CertificateSearchResponse.fromJson(jsonResult);
  }
}
