/*
 * Management API
 *
 * The version of the OpenAPI document: 3
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.management;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.management.CampaignStatusTransition;
import com.adyen.model.management.DonationCampaign;
import com.adyen.model.management.DonationCampaignRequest;
import com.adyen.model.management.DonationCampaignUpdate;
import com.adyen.model.management.ListDonationCampaignsResponse;
import com.adyen.model.management.ListNonprofitsRequest;
import com.adyen.model.management.ListNonprofitsResponse;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DonationCampaignsApi extends Service {

  public static final String API_VERSION = "3";

  protected String baseURL;

  /**
   * Donation campaigns constructor in {@link com.adyen.service.management package}.
   *
   * @param client {@link Client } (required)
   */
  public DonationCampaignsApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://management-test.adyen.com/v3");
  }

  /**
   * Donation campaigns constructor in {@link com.adyen.service.management package}. Please use this
   * constructor only if you would like to pass along your own url for routing or testing purposes.
   * The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public DonationCampaignsApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Create a donation campaign
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param donationCampaignRequest {@link DonationCampaignRequest } (required)
   * @return {@link DonationCampaign }
   * @throws ApiException if fails to make API call
   */
  public DonationCampaign createDonationCampaign(
      String companyId, DonationCampaignRequest donationCampaignRequest)
      throws ApiException, IOException {
    return createDonationCampaign(companyId, donationCampaignRequest, null);
  }

  /**
   * Create a donation campaign
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param donationCampaignRequest {@link DonationCampaignRequest } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link DonationCampaign }
   * @throws ApiException if fails to make API call
   */
  public DonationCampaign createDonationCampaign(
      String companyId,
      DonationCampaignRequest donationCampaignRequest,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (companyId == null) {
      throw new IllegalArgumentException("Please provide the companyId path parameter");
    }
    pathParams.put("companyId", companyId);

    String requestBody = donationCampaignRequest.toJson();
    Resource resource =
        new Resource(this, this.baseURL + "/companies/{companyId}/campaignManagement", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
    return DonationCampaign.fromJson(jsonResult);
  }

  /**
   * Delete a donation campaign
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param donationCampaignId {@link String } The unique identifier of the donation campaign to be
   *     deleted. (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteDonationCampaign(String companyId, String donationCampaignId)
      throws ApiException, IOException {
    deleteDonationCampaign(companyId, donationCampaignId, null);
  }

  /**
   * Delete a donation campaign
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param donationCampaignId {@link String } The unique identifier of the donation campaign to be
   *     deleted. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void deleteDonationCampaign(
      String companyId, String donationCampaignId, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (companyId == null) {
      throw new IllegalArgumentException("Please provide the companyId path parameter");
    }
    pathParams.put("companyId", companyId);
    if (donationCampaignId == null) {
      throw new IllegalArgumentException("Please provide the donationCampaignId path parameter");
    }
    pathParams.put("donationCampaignId", donationCampaignId);

    String requestBody = null;
    Resource resource =
        new Resource(
            this,
            this.baseURL + "/companies/{companyId}/campaignManagement/{donationCampaignId}",
            null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.DELETE, pathParams);
  }

  /**
   * Get the donation campaigns for an account holder
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param accountHolderId {@link String } The unique identifier of the account holder. (required)
   * @return {@link ListDonationCampaignsResponse }
   * @throws ApiException if fails to make API call
   */
  public ListDonationCampaignsResponse listDonationCampaignsForAccountHolder(
      String companyId, String accountHolderId) throws ApiException, IOException {
    return listDonationCampaignsForAccountHolder(
        companyId, accountHolderId, null, null, null, null);
  }

  /**
   * Get the donation campaigns for an account holder
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param accountHolderId {@link String } The unique identifier of the account holder. (required)
   * @param status {@link String } Query: The campaign status to return campaigns that match.
   *     Allowed values: **inactive**, **active**, or **ended**. (optional)
   * @param pageNumber {@link Integer } Query: The number of the page to fetch. (optional, default
   *     to 1)
   * @param pageSize {@link Integer } Query: The number of items to have on a page, maximum 100. The
   *     default is 10 items on a page. (optional, default to 10)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link ListDonationCampaignsResponse }
   * @throws ApiException if fails to make API call
   */
  public ListDonationCampaignsResponse listDonationCampaignsForAccountHolder(
      String companyId,
      String accountHolderId,
      String status,
      Integer pageNumber,
      Integer pageSize,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (companyId == null) {
      throw new IllegalArgumentException("Please provide the companyId path parameter");
    }
    pathParams.put("companyId", companyId);
    if (accountHolderId == null) {
      throw new IllegalArgumentException("Please provide the accountHolderId path parameter");
    }
    pathParams.put("accountHolderId", accountHolderId);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (status != null) {
      queryParams.put("status", status);
    }
    if (pageNumber != null) {
      queryParams.put("pageNumber", pageNumber.toString());
    }
    if (pageSize != null) {
      queryParams.put("pageSize", pageSize.toString());
    }

    String requestBody = null;
    Resource resource =
        new Resource(
            this,
            this.baseURL
                + "/companies/{companyId}/campaignManagement/accountHolders/{accountHolderId}",
            null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams, queryParams);
    return ListDonationCampaignsResponse.fromJson(jsonResult);
  }

  /**
   * Get a list of nonprofits
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param listNonprofitsRequest {@link ListNonprofitsRequest } (required)
   * @return {@link ListNonprofitsResponse }
   * @throws ApiException if fails to make API call
   */
  public ListNonprofitsResponse listNonprofits(
      String companyId, ListNonprofitsRequest listNonprofitsRequest)
      throws ApiException, IOException {
    return listNonprofits(companyId, null, null, null, null, listNonprofitsRequest, null);
  }

  /**
   * Get a list of nonprofits
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param listNonprofitsRequest {@link ListNonprofitsRequest } (required)
   * @param searchTerm {@link String } Query: A query to return nonprofit organizations for, maximum
   *     100 characters. For example, &#x60;&amp;searchTerm&#x3D;clean%20water&#x60;. (optional)
   * @param pageNumber {@link Integer } Query: The number of the page to fetch. (optional)
   * @param pageSize {@link Integer } Query: The number of items to have on a page, maximum 100. The
   *     default is 10 items on a page. (optional, default to 10)
   * @param goal {@code List<String> } Query: One or more United Nations Sustainable Development
   *     Goals to return nonprofit organizations for. Format: &#x60;unsdg_&lt;number&gt;&#x60;, for
   *     example, &#x60;&amp;goal&#x3D;unsdg_6&amp;goal&#x3D;unsdg_2&#x60;. (optional
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link ListNonprofitsResponse }
   * @throws ApiException if fails to make API call
   */
  public ListNonprofitsResponse listNonprofits(
      String companyId,
      String searchTerm,
      Integer pageNumber,
      Integer pageSize,
      List<String> goal,
      ListNonprofitsRequest listNonprofitsRequest,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (companyId == null) {
      throw new IllegalArgumentException("Please provide the companyId path parameter");
    }
    pathParams.put("companyId", companyId);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (searchTerm != null) {
      queryParams.put("searchTerm", searchTerm);
    }
    if (pageNumber != null) {
      queryParams.put("pageNumber", pageNumber.toString());
    }
    if (pageSize != null) {
      queryParams.put("pageSize", pageSize.toString());
    }
    if (goal != null) {
      queryParams.put("goal", goal.toString());
    }

    String requestBody = listNonprofitsRequest.toJson();
    Resource resource =
        new Resource(this, this.baseURL + "/companies/{companyId}/nonprofits", null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams, queryParams);
    return ListNonprofitsResponse.fromJson(jsonResult);
  }

  /**
   * Update a donation campaign
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param donationCampaignId {@link String } The unique identifier of the donation campaign to be
   *     updated. (required)
   * @param donationCampaignUpdate {@link DonationCampaignUpdate } (required)
   * @return {@link DonationCampaign }
   * @throws ApiException if fails to make API call
   */
  public DonationCampaign updateDonationCampaign(
      String companyId, String donationCampaignId, DonationCampaignUpdate donationCampaignUpdate)
      throws ApiException, IOException {
    return updateDonationCampaign(companyId, donationCampaignId, donationCampaignUpdate, null);
  }

  /**
   * Update a donation campaign
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param donationCampaignId {@link String } The unique identifier of the donation campaign to be
   *     updated. (required)
   * @param donationCampaignUpdate {@link DonationCampaignUpdate } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link DonationCampaign }
   * @throws ApiException if fails to make API call
   */
  public DonationCampaign updateDonationCampaign(
      String companyId,
      String donationCampaignId,
      DonationCampaignUpdate donationCampaignUpdate,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (companyId == null) {
      throw new IllegalArgumentException("Please provide the companyId path parameter");
    }
    pathParams.put("companyId", companyId);
    if (donationCampaignId == null) {
      throw new IllegalArgumentException("Please provide the donationCampaignId path parameter");
    }
    pathParams.put("donationCampaignId", donationCampaignId);

    String requestBody = donationCampaignUpdate.toJson();
    Resource resource =
        new Resource(
            this,
            this.baseURL + "/companies/{companyId}/campaignManagement/{donationCampaignId}",
            null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.PATCH, pathParams);
    return DonationCampaign.fromJson(jsonResult);
  }

  /**
   * Activate or end a donation campaign
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param donationCampaignId {@link String } The unique identifier of the donation campaign to
   *     activate or end. (required)
   * @param status {@link CampaignStatusTransition } The desired status change. Possible values:
   *     **activate** or **end**. (required)
   * @return {@link DonationCampaign }
   * @throws ApiException if fails to make API call
   */
  public DonationCampaign updateDonationCampaignStatus(
      String companyId, String donationCampaignId, CampaignStatusTransition status)
      throws ApiException, IOException {
    return updateDonationCampaignStatus(companyId, donationCampaignId, status, null);
  }

  /**
   * Activate or end a donation campaign
   *
   * @param companyId {@link String } The unique identifier of the company account. (required)
   * @param donationCampaignId {@link String } The unique identifier of the donation campaign to
   *     activate or end. (required)
   * @param status {@link CampaignStatusTransition } The desired status change. Possible values:
   *     **activate** or **end**. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link DonationCampaign }
   * @throws ApiException if fails to make API call
   */
  public DonationCampaign updateDonationCampaignStatus(
      String companyId,
      String donationCampaignId,
      CampaignStatusTransition status,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (companyId == null) {
      throw new IllegalArgumentException("Please provide the companyId path parameter");
    }
    pathParams.put("companyId", companyId);
    if (donationCampaignId == null) {
      throw new IllegalArgumentException("Please provide the donationCampaignId path parameter");
    }
    pathParams.put("donationCampaignId", donationCampaignId);
    if (status == null) {
      throw new IllegalArgumentException("Please provide the status path parameter");
    }
    pathParams.put("status", status.toString());

    String requestBody = null;
    Resource resource =
        new Resource(
            this,
            this.baseURL
                + "/companies/{companyId}/campaignManagement/{donationCampaignId}/status/{status}",
            null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
    return DonationCampaign.fromJson(jsonResult);
  }
}
