/*
 * Management API
 *
 * The version of the OpenAPI document: 1
 * Contact: developer-experience@adyen.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.adyen.service.management;

import com.adyen.ApiKeyAuthenticatedService;
import com.adyen.Client;
import com.adyen.constants.ApiConstants;
import com.adyen.model.management.JSON;
import com.adyen.model.management.AllowedOrigin;
import com.adyen.model.management.AllowedOriginsResponse;
import com.adyen.model.management.CreateAllowedOriginRequest;
import com.adyen.model.management.MeApiCredential;
import com.adyen.model.management.RestServiceError;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.ManagementResource;

import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class MyApiCredential extends ApiKeyAuthenticatedService {
    public MyApiCredential(Client client) {
        super(client);
        new JSON();
    }

    /**
     * Remove allowed origin
     *
     * @param originId Unique identifier of the allowed origin. (required)
     * @throws ApiException if fails to make API call
     */
    public void removeAllowedOrigin(String originId) throws ApiException, IOException {
        if (originId == null) {
            throw new ApiException("Missing the required parameter 'originId'", 400);
        }

        Map<String, String> pathParams = new HashMap<>();
        pathParams.put("originId", originId);

        String requestBody = null;
        ManagementResource resource = new ManagementResource(this, "/me/allowedOrigins/{originId}");
        resource.request(requestBody, null, ApiConstants.HttpMethod.DELETE, pathParams);
    }
    
    /**
     * Get API credential details
     *
     * @return MeApiCredential
     * @throws ApiException if fails to make API call
     */
    public MeApiCredential getApiCredentialDetails() throws ApiException, IOException {

        Map<String, String> pathParams = new HashMap<>();

        String requestBody = null;
        ManagementResource resource = new ManagementResource(this, "/me");
        String jsonResult = resource.request(requestBody, null, ApiConstants.HttpMethod.GET, pathParams);
        return MeApiCredential.fromJson(jsonResult);
    }
    
    /**
     * Get allowed origins
     *
     * @return AllowedOriginsResponse
     * @throws ApiException if fails to make API call
     */
    public AllowedOriginsResponse getAllowedOrigins() throws ApiException, IOException {

        Map<String, String> pathParams = new HashMap<>();

        String requestBody = null;
        ManagementResource resource = new ManagementResource(this, "/me/allowedOrigins");
        String jsonResult = resource.request(requestBody, null, ApiConstants.HttpMethod.GET, pathParams);
        return AllowedOriginsResponse.fromJson(jsonResult);
    }
    
    /**
     * Get allowed origin details
     *
     * @param originId Unique identifier of the allowed origin. (required)
     * @return AllowedOrigin
     * @throws ApiException if fails to make API call
     */
    public AllowedOrigin getAllowedOriginDetails(String originId) throws ApiException, IOException {
        if (originId == null) {
            throw new ApiException("Missing the required parameter 'originId'", 400);
        }

        Map<String, String> pathParams = new HashMap<>();
        pathParams.put("originId", originId);

        String requestBody = null;
        ManagementResource resource = new ManagementResource(this, "/me/allowedOrigins/{originId}");
        String jsonResult = resource.request(requestBody, null, ApiConstants.HttpMethod.GET, pathParams);
        return AllowedOrigin.fromJson(jsonResult);
    }
    
    /**
     * Add allowed origin
     *
     * @param createAllowedOriginRequest  (optional)
     * @return AllowedOriginsResponse
     * @throws ApiException if fails to make API call
     */
    public AllowedOriginsResponse addAllowedOrigin(CreateAllowedOriginRequest createAllowedOriginRequest) throws ApiException, IOException {

        Map<String, String> pathParams = new HashMap<>();

        String requestBody = createAllowedOriginRequest.toJson();
        ManagementResource resource = new ManagementResource(this, "/me/allowedOrigins");
        String jsonResult = resource.request(requestBody, null, ApiConstants.HttpMethod.POST, pathParams);
        return AllowedOriginsResponse.fromJson(jsonResult);
    }
    
}
