/*
 * Management API
 *
 * The version of the OpenAPI document: 1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.management;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.management.RestServiceError;
import com.adyen.model.management.ScheduleTerminalActionsRequest;
import com.adyen.model.management.ScheduleTerminalActionsResponse;
import com.adyen.model.RequestOptions;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;

import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class TerminalActionsTerminalLevelApi extends Service {
    protected String baseURL;

    public TerminalActionsTerminalLevelApi(Client client) {
        super(client);
        this.baseURL = createBaseURL("https://management-test.adyen.com/v1");
    }

    /**
    * Create a terminal action
    *
    * @param scheduleTerminalActionsRequest {@link ScheduleTerminalActionsRequest }  (required)
    * @return {@link ScheduleTerminalActionsResponse }
    * @throws ApiException if fails to make API call
    */
    public ScheduleTerminalActionsResponse createTerminalAction(ScheduleTerminalActionsRequest scheduleTerminalActionsRequest) throws ApiException, IOException {
        return createTerminalAction(scheduleTerminalActionsRequest, null);
    }

    /**
    * Create a terminal action
    *
    * @param scheduleTerminalActionsRequest {@link ScheduleTerminalActionsRequest }  (required)
    * @param requestOptions {@link RequestOptions } Object to store additional data such as idempotency-keys (optional)
    * @return {@link ScheduleTerminalActionsResponse }
    * @throws ApiException if fails to make API call
    */
    public ScheduleTerminalActionsResponse createTerminalAction(ScheduleTerminalActionsRequest scheduleTerminalActionsRequest, RequestOptions requestOptions) throws ApiException, IOException {

        String requestBody = scheduleTerminalActionsRequest.toJson();
        Resource resource = new Resource(this, this.baseURL + "/terminals/scheduleActions", null);
        String jsonResult = resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, null);
        return ScheduleTerminalActionsResponse.fromJson(jsonResult);
    }
}
