/*
 * Management API
 *
 * The version of the OpenAPI document: 3
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.management;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.management.CreateThemeRequest;
import com.adyen.model.management.CreateThemeResponse;
import com.adyen.model.management.ListThemesResponse;
import com.adyen.model.management.ThemeAsset;
import com.adyen.model.management.ThemeUpdateRequest;
import com.adyen.model.management.ThemeWithAssetDetails;
import com.adyen.model.management.UpdateThemeResponse;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.File;
import java.io.IOException;
import java.util.HashMap;
import java.util.LinkedHashMap;
import java.util.Map;

public class TerminalThemesMerchantLevelApi extends Service {

  public static final String API_VERSION = "3";

  protected String baseURL;

  /**
   * Terminal themes - merchant level constructor in {@link com.adyen.service.management package}.
   *
   * @param client {@link Client } (required)
   */
  public TerminalThemesMerchantLevelApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://management-test.adyen.com/v3");
  }

  /**
   * Terminal themes - merchant level constructor in {@link com.adyen.service.management package}.
   * Please use this constructor only if you would like to pass along your own url for routing or
   * testing purposes. The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public TerminalThemesMerchantLevelApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Add an asset to a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param _file {@link File } The asset file. The part must declare a specific supported
   *     Content-Type; which Content-Type is accepted depends on the asset &#x60;type&#x60; and
   *     terminal &#x60;model&#x60; (see the endpoint description for the full mapping). The file
   *     extension is derived from it. A request with a generic or missing Content-Type such as
   *     application/octet-stream is rejected with response code **422**. The maximum asset size
   *     depends on the terminal model: up to 100 MB for SFO1 and M450, or 10 MB for all other
   *     models. (required)
   * @param type {@link String } Query: The screen type or screen element that the asset is for: -
   *     **logo**: your logo. Only supported if &#x60;model&#x60; is **All**. - **homeScreen**: the
   *     default background screen. - **idleScreen**: a screensaver shown when the terminal is
   *     inactive. Only supported if &#x60;model&#x60; is **SFO1** or **M450**. -
   *     **afterPaymentScreen**: a screen shown after the payment is completed. -
   *     **shopperEngagementScreen**: a screen shown during a [shopper
   *     engagement](https://docs.adyen.com/point-of-sale/shopper-engagement) request. Only
   *     supported if &#x60;model&#x60; is **SFO1** or **M450**. (required)
   * @param model {@link String } Query: The Android terminal model that the asset is for. Use
   *     **All** only if the &#x60;type&#x60; is **logo**. For every other screen type specify a
   *     single Android terminal model such as **AMS1**. (required)
   * @return {@link ThemeAsset }
   * @throws ApiException if fails to make API call
   */
  public ThemeAsset addTerminalThemeAssetForMerchant(
      String merchantId, String id, String type, String model, File _file)
      throws ApiException, IOException {
    return addTerminalThemeAssetForMerchant(merchantId, id, type, model, _file, null);
  }

  /**
   * Add an asset to a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param _file {@link File } The asset file. The part must declare a specific supported
   *     Content-Type; which Content-Type is accepted depends on the asset &#x60;type&#x60; and
   *     terminal &#x60;model&#x60; (see the endpoint description for the full mapping). The file
   *     extension is derived from it. A request with a generic or missing Content-Type such as
   *     application/octet-stream is rejected with response code **422**. The maximum asset size
   *     depends on the terminal model: up to 100 MB for SFO1 and M450, or 10 MB for all other
   *     models. (required)
   * @param type {@link String } Query: The screen type or screen element that the asset is for: -
   *     **logo**: your logo. Only supported if &#x60;model&#x60; is **All**. - **homeScreen**: the
   *     default background screen. - **idleScreen**: a screensaver shown when the terminal is
   *     inactive. Only supported if &#x60;model&#x60; is **SFO1** or **M450**. -
   *     **afterPaymentScreen**: a screen shown after the payment is completed. -
   *     **shopperEngagementScreen**: a screen shown during a [shopper
   *     engagement](https://docs.adyen.com/point-of-sale/shopper-engagement) request. Only
   *     supported if &#x60;model&#x60; is **SFO1** or **M450**. (required)
   * @param model {@link String } Query: The Android terminal model that the asset is for. Use
   *     **All** only if the &#x60;type&#x60; is **logo**. For every other screen type specify a
   *     single Android terminal model such as **AMS1**. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link ThemeAsset }
   * @throws ApiException if fails to make API call
   */
  public ThemeAsset addTerminalThemeAssetForMerchant(
      String merchantId,
      String id,
      String type,
      String model,
      File _file,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (type != null) {
      queryParams.put("type", type);
    }
    if (model != null) {
      queryParams.put("model", model);
    }

    // Add form params
    Map<String, Object> formParams = new LinkedHashMap<>();
    if (_file == null) {
      throw new IllegalArgumentException("Please provide the _file form parameter");
    }
    formParams.put("file", _file);

    Resource resource =
        new Resource(
            this, this.baseURL + "/merchants/{merchantId}/terminalThemes/{id}/assets", null);
    String jsonResult =
        resource.requestMultipart(
            formParams, requestOptions, ApiConstants.HttpMethod.POST, pathParams, queryParams);
    return ThemeAsset.fromJson(jsonResult);
  }

  /**
   * Apply a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @throws ApiException if fails to make API call
   */
  public void applyTerminalThemeForMerchant(String merchantId, String id)
      throws ApiException, IOException {
    applyTerminalThemeForMerchant(merchantId, id, null);
  }

  /**
   * Apply a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void applyTerminalThemeForMerchant(
      String merchantId, String id, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource =
        new Resource(
            this, this.baseURL + "/merchants/{merchantId}/terminalThemes/{id}/apply", null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
  }

  /**
   * Create a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param createThemeRequest {@link CreateThemeRequest } The theme to create. (required)
   * @return {@link CreateThemeResponse }
   * @throws ApiException if fails to make API call
   */
  public CreateThemeResponse createTerminalThemeForMerchant(
      String merchantId, CreateThemeRequest createThemeRequest) throws ApiException, IOException {
    return createTerminalThemeForMerchant(merchantId, createThemeRequest, null);
  }

  /**
   * Create a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param createThemeRequest {@link CreateThemeRequest } The theme to create. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link CreateThemeResponse }
   * @throws ApiException if fails to make API call
   */
  public CreateThemeResponse createTerminalThemeForMerchant(
      String merchantId, CreateThemeRequest createThemeRequest, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);

    String requestBody = createThemeRequest.toJson();
    Resource resource =
        new Resource(this, this.baseURL + "/merchants/{merchantId}/terminalThemes", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
    return CreateThemeResponse.fromJson(jsonResult);
  }

  /**
   * Delete an asset from a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param type {@link String } Query: The screen type or screen element that the asset is for: -
   *     **logo**: your logo. Only supported if &#x60;model&#x60; is **All**. - **homeScreen**: the
   *     default background screen. - **idleScreen**: a screensaver shown when the terminal is
   *     inactive. Only supported if &#x60;model&#x60; is **SFO1** or **M450**. -
   *     **afterPaymentScreen**: a screen shown after the payment is completed. -
   *     **shopperEngagementScreen**: a screen shown during [shopper
   *     engagement](https://docs.adyen.com/point-of-sale/shopper-engagement) requests. Only
   *     supported if &#x60;model&#x60; is **SFO1** or **M450**. (required)
   * @param model {@link String } Query: The Android terminal model that the asset is for. Use
   *     **All** only if the &#x60;type&#x60; is **logo**. For every other screen type specify a
   *     single Android terminal model such as **AMS1**. (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteTerminalThemeAssetForMerchant(
      String merchantId, String id, String type, String model) throws ApiException, IOException {
    deleteTerminalThemeAssetForMerchant(merchantId, id, type, model, null);
  }

  /**
   * Delete an asset from a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param type {@link String } Query: The screen type or screen element that the asset is for: -
   *     **logo**: your logo. Only supported if &#x60;model&#x60; is **All**. - **homeScreen**: the
   *     default background screen. - **idleScreen**: a screensaver shown when the terminal is
   *     inactive. Only supported if &#x60;model&#x60; is **SFO1** or **M450**. -
   *     **afterPaymentScreen**: a screen shown after the payment is completed. -
   *     **shopperEngagementScreen**: a screen shown during [shopper
   *     engagement](https://docs.adyen.com/point-of-sale/shopper-engagement) requests. Only
   *     supported if &#x60;model&#x60; is **SFO1** or **M450**. (required)
   * @param model {@link String } Query: The Android terminal model that the asset is for. Use
   *     **All** only if the &#x60;type&#x60; is **logo**. For every other screen type specify a
   *     single Android terminal model such as **AMS1**. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void deleteTerminalThemeAssetForMerchant(
      String merchantId, String id, String type, String model, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (type != null) {
      queryParams.put("type", type);
    }
    if (model != null) {
      queryParams.put("model", model);
    }

    String requestBody = null;
    Resource resource =
        new Resource(
            this, this.baseURL + "/merchants/{merchantId}/terminalThemes/{id}/assets", null);
    resource.request(
        requestBody, requestOptions, ApiConstants.HttpMethod.DELETE, pathParams, queryParams);
  }

  /**
   * Delete a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteTerminalThemeForMerchant(String merchantId, String id)
      throws ApiException, IOException {
    deleteTerminalThemeForMerchant(merchantId, id, null);
  }

  /**
   * Delete a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void deleteTerminalThemeForMerchant(
      String merchantId, String id, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource =
        new Resource(this, this.baseURL + "/merchants/{merchantId}/terminalThemes/{id}", null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.DELETE, pathParams);
  }

  /**
   * Replace a theme asset
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param _file {@link File } The asset file. The part must declare a specific supported
   *     Content-Type; which Content-Type is accepted depends on the asset &#x60;type&#x60; and
   *     terminal &#x60;model&#x60; (see the endpoint description for the full mapping). The file
   *     extension is derived from it. A request with a generic or missing Content-Type such as
   *     application/octet-stream is rejected with response code **422**. The maximum asset size
   *     depends on the terminal model: up to 100 MB for SFO1 and M450, or 10 MB for all other
   *     models. (required)
   * @param type {@link String } Query: The screen type or screen element that the asset is for: -
   *     **logo**: your logo. Only supported if &#x60;model&#x60; is **All**. - **homeScreen**: the
   *     default background screen. - **idleScreen**: a screensaver shown when the terminal is
   *     inactive. Only supported if &#x60;model&#x60; is **SFO1** or **M450**. -
   *     **afterPaymentScreen**: a screen shown after the payment is completed. -
   *     **shopperEngagementScreen**: a screen shown during [shopper
   *     engagement](https://docs.adyen.com/point-of-sale/shopper-engagement) requests. Only
   *     supported if &#x60;model&#x60; is **SFO1** or **M450**. (required)
   * @param model {@link String } Query: The Android terminal model that the asset is for. Use
   *     **All** only if the &#x60;type&#x60; is **logo**. For every other screen type specify a
   *     single Android terminal model such as **AMS1**. (required)
   * @return {@link ThemeAsset }
   * @throws ApiException if fails to make API call
   */
  public ThemeAsset editTerminalThemeAssetForMerchant(
      String merchantId, String id, String type, String model, File _file)
      throws ApiException, IOException {
    return editTerminalThemeAssetForMerchant(merchantId, id, type, model, _file, null);
  }

  /**
   * Replace a theme asset
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param _file {@link File } The asset file. The part must declare a specific supported
   *     Content-Type; which Content-Type is accepted depends on the asset &#x60;type&#x60; and
   *     terminal &#x60;model&#x60; (see the endpoint description for the full mapping). The file
   *     extension is derived from it. A request with a generic or missing Content-Type such as
   *     application/octet-stream is rejected with response code **422**. The maximum asset size
   *     depends on the terminal model: up to 100 MB for SFO1 and M450, or 10 MB for all other
   *     models. (required)
   * @param type {@link String } Query: The screen type or screen element that the asset is for: -
   *     **logo**: your logo. Only supported if &#x60;model&#x60; is **All**. - **homeScreen**: the
   *     default background screen. - **idleScreen**: a screensaver shown when the terminal is
   *     inactive. Only supported if &#x60;model&#x60; is **SFO1** or **M450**. -
   *     **afterPaymentScreen**: a screen shown after the payment is completed. -
   *     **shopperEngagementScreen**: a screen shown during [shopper
   *     engagement](https://docs.adyen.com/point-of-sale/shopper-engagement) requests. Only
   *     supported if &#x60;model&#x60; is **SFO1** or **M450**. (required)
   * @param model {@link String } Query: The Android terminal model that the asset is for. Use
   *     **All** only if the &#x60;type&#x60; is **logo**. For every other screen type specify a
   *     single Android terminal model such as **AMS1**. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link ThemeAsset }
   * @throws ApiException if fails to make API call
   */
  public ThemeAsset editTerminalThemeAssetForMerchant(
      String merchantId,
      String id,
      String type,
      String model,
      File _file,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (type != null) {
      queryParams.put("type", type);
    }
    if (model != null) {
      queryParams.put("model", model);
    }

    // Add form params
    Map<String, Object> formParams = new LinkedHashMap<>();
    if (_file == null) {
      throw new IllegalArgumentException("Please provide the _file form parameter");
    }
    formParams.put("file", _file);

    Resource resource =
        new Resource(
            this,
            this.baseURL + "/merchants/{merchantId}/terminalThemes/{id}/assets/replace",
            null);
    String jsonResult =
        resource.requestMultipart(
            formParams, requestOptions, ApiConstants.HttpMethod.POST, pathParams, queryParams);
    return ThemeAsset.fromJson(jsonResult);
  }

  /**
   * Get a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @return {@link ThemeWithAssetDetails }
   * @throws ApiException if fails to make API call
   */
  public ThemeWithAssetDetails getTerminalThemeByIdForMerchant(String merchantId, String id)
      throws ApiException, IOException {
    return getTerminalThemeByIdForMerchant(merchantId, id, null);
  }

  /**
   * Get a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link ThemeWithAssetDetails }
   * @throws ApiException if fails to make API call
   */
  public ThemeWithAssetDetails getTerminalThemeByIdForMerchant(
      String merchantId, String id, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource =
        new Resource(this, this.baseURL + "/merchants/{merchantId}/terminalThemes/{id}", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams);
    return ThemeWithAssetDetails.fromJson(jsonResult);
  }

  /**
   * List terminal themes
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @return {@link ListThemesResponse }
   * @throws ApiException if fails to make API call
   */
  public ListThemesResponse listTerminalThemesForMerchant(String merchantId)
      throws ApiException, IOException {
    return listTerminalThemesForMerchant(merchantId, null, null, null, null);
  }

  /**
   * List terminal themes
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param pageSize {@link Integer } Query: The number of themes to return per page. If not
   *     specified, the list has 10 themes per page. (optional, default to 10)
   * @param page {@link Integer } Query: The number of the page to fetch. If not specified, the list
   *     starts from page 1. (optional, default to 1)
   * @param search {@link String } Query: A search term to filter themes by name. The match is
   *     case-insensitive and returns any theme with a name that contains the search term.
   *     (optional)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link ListThemesResponse }
   * @throws ApiException if fails to make API call
   */
  public ListThemesResponse listTerminalThemesForMerchant(
      String merchantId,
      Integer pageSize,
      Integer page,
      String search,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (pageSize != null) {
      queryParams.put("pageSize", pageSize.toString());
    }
    if (page != null) {
      queryParams.put("page", page.toString());
    }
    if (search != null) {
      queryParams.put("search", search);
    }

    String requestBody = null;
    Resource resource =
        new Resource(this, this.baseURL + "/merchants/{merchantId}/terminalThemes", null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams, queryParams);
    return ListThemesResponse.fromJson(jsonResult);
  }

  /**
   * Unapply a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @throws ApiException if fails to make API call
   */
  public void unapplyTerminalThemeForMerchant(String merchantId) throws ApiException, IOException {
    unapplyTerminalThemeForMerchant(merchantId, null);
  }

  /**
   * Unapply a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void unapplyTerminalThemeForMerchant(String merchantId, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);

    String requestBody = null;
    Resource resource =
        new Resource(this, this.baseURL + "/merchants/{merchantId}/terminalThemes/unapply", null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
  }

  /**
   * Update the metadata of a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param themeUpdateRequest {@link ThemeUpdateRequest } The updated theme metadata. (required)
   * @return {@link UpdateThemeResponse }
   * @throws ApiException if fails to make API call
   */
  public UpdateThemeResponse updateTerminalThemeForMerchant(
      String merchantId, String id, ThemeUpdateRequest themeUpdateRequest)
      throws ApiException, IOException {
    return updateTerminalThemeForMerchant(merchantId, id, themeUpdateRequest, null);
  }

  /**
   * Update the metadata of a terminal theme
   *
   * @param merchantId {@link String } The unique identifier of the merchant account. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param themeUpdateRequest {@link ThemeUpdateRequest } The updated theme metadata. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link UpdateThemeResponse }
   * @throws ApiException if fails to make API call
   */
  public UpdateThemeResponse updateTerminalThemeForMerchant(
      String merchantId,
      String id,
      ThemeUpdateRequest themeUpdateRequest,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (merchantId == null) {
      throw new IllegalArgumentException("Please provide the merchantId path parameter");
    }
    pathParams.put("merchantId", merchantId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = themeUpdateRequest.toJson();
    Resource resource =
        new Resource(this, this.baseURL + "/merchants/{merchantId}/terminalThemes/{id}", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.PATCH, pathParams);
    return UpdateThemeResponse.fromJson(jsonResult);
  }
}
