/*
 * Management API
 *
 * The version of the OpenAPI document: 3
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.management;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class TerminalThemesTerminalLevelApi extends Service {

  public static final String API_VERSION = "3";

  protected String baseURL;

  /**
   * Terminal themes - terminal level constructor in {@link com.adyen.service.management package}.
   *
   * @param client {@link Client } (required)
   */
  public TerminalThemesTerminalLevelApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://management-test.adyen.com/v3");
  }

  /**
   * Terminal themes - terminal level constructor in {@link com.adyen.service.management package}.
   * Please use this constructor only if you would like to pass along your own url for routing or
   * testing purposes. The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public TerminalThemesTerminalLevelApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Apply a terminal theme
   *
   * @param terminalId {@link String } The unique identifier of the terminal. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @throws ApiException if fails to make API call
   */
  public void applyTerminalThemeForTerminal(String terminalId, String id)
      throws ApiException, IOException {
    applyTerminalThemeForTerminal(terminalId, id, null);
  }

  /**
   * Apply a terminal theme
   *
   * @param terminalId {@link String } The unique identifier of the terminal. (required)
   * @param id {@link String } The unique identifier of the terminal theme. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void applyTerminalThemeForTerminal(
      String terminalId, String id, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (terminalId == null) {
      throw new IllegalArgumentException("Please provide the terminalId path parameter");
    }
    pathParams.put("terminalId", terminalId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource =
        new Resource(
            this, this.baseURL + "/terminals/{terminalId}/terminalThemes/{id}/apply", null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
  }

  /**
   * Unapply a terminal theme
   *
   * @param terminalId {@link String } The unique identifier of the terminal. (required)
   * @throws ApiException if fails to make API call
   */
  public void unapplyTerminalThemeForTerminal(String terminalId) throws ApiException, IOException {
    unapplyTerminalThemeForTerminal(terminalId, null);
  }

  /**
   * Unapply a terminal theme
   *
   * @param terminalId {@link String } The unique identifier of the terminal. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void unapplyTerminalThemeForTerminal(String terminalId, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (terminalId == null) {
      throw new IllegalArgumentException("Please provide the terminalId path parameter");
    }
    pathParams.put("terminalId", terminalId);

    String requestBody = null;
    Resource resource =
        new Resource(this, this.baseURL + "/terminals/{terminalId}/terminalThemes/unapply", null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
  }
}
