/*
 * Capital API
 *
 * The version of the OpenAPI document: 1
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.capital;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.capital.CalculateGrantOfferRequest;
import com.adyen.model.capital.CalculatedGrantOffer;
import com.adyen.model.capital.CreateGrantOfferRequest;
import com.adyen.model.capital.FinancingType;
import com.adyen.model.capital.GetDynamicOffersResponse;
import com.adyen.model.capital.GrantOffer;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class DynamicOffersApi extends Service {

  public static final String API_VERSION = "1";

  protected String baseURL;

  /**
   * Dynamic offers constructor in {@link com.adyen.service.capital package}.
   *
   * @param client {@link Client } (required)
   */
  public DynamicOffersApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://balanceplatform-api-test.adyen.com/capital/v1");
  }

  /**
   * Dynamic offers constructor in {@link com.adyen.service.capital package}. Please use this
   * constructor only if you would like to pass along your own url for routing or testing purposes.
   * The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public DynamicOffersApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Calculate a preliminary offer for a selected financing amount
   *
   * @param id {@link String } The unique identifier of the dynamic offer from which the user
   *     selected the financing amount. (required)
   * @param calculateGrantOfferRequest {@link CalculateGrantOfferRequest } (required)
   * @return {@link CalculatedGrantOffer }
   * @throws ApiException if fails to make API call
   */
  public CalculatedGrantOffer calculatePreliminaryOfferFromDynamicOffer(
      String id, CalculateGrantOfferRequest calculateGrantOfferRequest)
      throws ApiException, IOException {
    return calculatePreliminaryOfferFromDynamicOffer(id, calculateGrantOfferRequest, null);
  }

  /**
   * Calculate a preliminary offer for a selected financing amount
   *
   * @param id {@link String } The unique identifier of the dynamic offer from which the user
   *     selected the financing amount. (required)
   * @param calculateGrantOfferRequest {@link CalculateGrantOfferRequest } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link CalculatedGrantOffer }
   * @throws ApiException if fails to make API call
   */
  public CalculatedGrantOffer calculatePreliminaryOfferFromDynamicOffer(
      String id,
      CalculateGrantOfferRequest calculateGrantOfferRequest,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = calculateGrantOfferRequest.toJson();
    Resource resource = new Resource(this, this.baseURL + "/dynamicOffers/{id}/calculate", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
    return CalculatedGrantOffer.fromJson(jsonResult);
  }

  /**
   * Create a static offer for a selected financing amount
   *
   * @param id {@link String } The unique identifier of the dynamic offer from which the user
   *     selected the financing amount. (required)
   * @param createGrantOfferRequest {@link CreateGrantOfferRequest } (required)
   * @return {@link GrantOffer }
   * @throws ApiException if fails to make API call
   */
  public GrantOffer createStaticOfferFromDynamicOffer(
      String id, CreateGrantOfferRequest createGrantOfferRequest) throws ApiException, IOException {
    return createStaticOfferFromDynamicOffer(id, createGrantOfferRequest, null);
  }

  /**
   * Create a static offer for a selected financing amount
   *
   * @param id {@link String } The unique identifier of the dynamic offer from which the user
   *     selected the financing amount. (required)
   * @param createGrantOfferRequest {@link CreateGrantOfferRequest } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link GrantOffer }
   * @throws ApiException if fails to make API call
   */
  public GrantOffer createStaticOfferFromDynamicOffer(
      String id, CreateGrantOfferRequest createGrantOfferRequest, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = createGrantOfferRequest.toJson();
    Resource resource = new Resource(this, this.baseURL + "/dynamicOffers/{id}/grantOffer", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
    return GrantOffer.fromJson(jsonResult);
  }

  /**
   * Get all available dynamic offers
   *
   * @param accountHolderId {@link String } Query: The unique identifier of the account holder that
   *     the dynamic offer is for. (required)
   * @return {@link GetDynamicOffersResponse }
   * @throws ApiException if fails to make API call
   */
  public GetDynamicOffersResponse getAllDynamicOffers(String accountHolderId)
      throws ApiException, IOException {
    return getAllDynamicOffers(accountHolderId, null, null);
  }

  /**
   * Get all available dynamic offers
   *
   * @param accountHolderId {@link String } Query: The unique identifier of the account holder that
   *     the dynamic offer is for. (required)
   * @param financingType {@link FinancingType } Query: The type of financing that the offer is for.
   *     If the value is not specified, returns all available types. Possible values:
   *     **businessFinancing** (optional)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link GetDynamicOffersResponse }
   * @throws ApiException if fails to make API call
   */
  public GetDynamicOffersResponse getAllDynamicOffers(
      String accountHolderId, FinancingType financingType, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (accountHolderId != null) {
      queryParams.put("accountHolderId", accountHolderId);
    }
    if (financingType != null) {
      queryParams.put("financingType", financingType.toString());
    }

    String requestBody = null;
    Resource resource = new Resource(this, this.baseURL + "/dynamicOffers", null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, null, queryParams);
    return GetDynamicOffersResponse.fromJson(jsonResult);
  }
}
