/*
 * Capital API
 *
 * The version of the OpenAPI document: 1
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.capital;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.capital.GrantOffer;
import com.adyen.model.capital.GrantOffers;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class GrantOffersApi extends Service {

  public static final String API_VERSION = "1";

  protected String baseURL;

  /**
   * Grant offers constructor in {@link com.adyen.service.capital package}.
   *
   * @param client {@link Client } (required)
   */
  public GrantOffersApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://balanceplatform-api-test.adyen.com/capital/v1");
  }

  /**
   * Grant offers constructor in {@link com.adyen.service.capital package}. Please use this
   * constructor only if you would like to pass along your own url for routing or testing purposes.
   * The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public GrantOffersApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Get all available grant offers
   *
   * @return {@link GrantOffers }
   * @throws ApiException if fails to make API call
   */
  public GrantOffers getAllGrantOffers() throws ApiException, IOException {
    return getAllGrantOffers(null, null);
  }

  /**
   * Get all available grant offers
   *
   * @param accountHolderId {@link String } Query: The unique identifier of the account holder for
   *     which you want to get the available grant offers. (optional)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link GrantOffers }
   * @throws ApiException if fails to make API call
   */
  public GrantOffers getAllGrantOffers(String accountHolderId, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (accountHolderId != null) {
      queryParams.put("accountHolderId", accountHolderId);
    }

    String requestBody = null;
    Resource resource = new Resource(this, this.baseURL + "/grantOffers", null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, null, queryParams);
    return GrantOffers.fromJson(jsonResult);
  }

  /**
   * Get the details of a grant offer
   *
   * @param id {@link String } The unique identifier of the grant offer. (required)
   * @return {@link GrantOffer }
   * @throws ApiException if fails to make API call
   */
  public GrantOffer getGrantOffer(String id) throws ApiException, IOException {
    return getGrantOffer(id, null);
  }

  /**
   * Get the details of a grant offer
   *
   * @param id {@link String } The unique identifier of the grant offer. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link GrantOffer }
   * @throws ApiException if fails to make API call
   */
  public GrantOffer getGrantOffer(String id, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource = new Resource(this, this.baseURL + "/grantOffers/{id}", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams);
    return GrantOffer.fromJson(jsonResult);
  }
}
