## Settings for integration testing

API_LIBRARIES_ADYEN_API_KEY=
API_LIBRARIES_ADYEN_MERCHANT_ACCOUNT=

API_LIBRARIES_ADYEN_BALANCE_PLATFORM_ID=
API_LIBRARIES_ADYEN_BCL_API_KEY=

API_LIBRARIES_ADYEN_LEM_API_KEY=

ADYEN_TERMINAL_DEVICE_ID=
ADYEN_TERMINAL_DEVICE_KEY_IDENTIFIER=
ADYEN_TERMINAL_DEVICE_PASSPHRASE=
