/*
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.balanceplatform;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.balanceplatform.BalanceAccount;
import com.adyen.model.balanceplatform.BalanceAccountInfo;
import com.adyen.model.balanceplatform.BalanceAccountUpdateRequest;
import com.adyen.model.balanceplatform.PaginatedPaymentInstrumentsResponse;
import com.adyen.model.balanceplatform.TransactionRulesResponse;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class BalanceAccountsApi extends Service {

  public static final String API_VERSION = "2";

  protected String baseURL;

  /**
   * Balance accounts constructor in {@link com.adyen.service.balanceplatform package}.
   *
   * @param client {@link Client } (required)
   */
  public BalanceAccountsApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://balanceplatform-api-test.adyen.com/bcl/v2");
  }

  /**
   * Balance accounts constructor in {@link com.adyen.service.balanceplatform package}. Please use
   * this constructor only if you would like to pass along your own url for routing or testing
   * purposes. The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public BalanceAccountsApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Create a balance account
   *
   * @param balanceAccountInfo {@link BalanceAccountInfo } (required)
   * @return {@link BalanceAccount }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccount createBalanceAccount(BalanceAccountInfo balanceAccountInfo)
      throws ApiException, IOException {
    return createBalanceAccount(balanceAccountInfo, null);
  }

  /**
   * Create a balance account
   *
   * @param balanceAccountInfo {@link BalanceAccountInfo } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link BalanceAccount }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccount createBalanceAccount(
      BalanceAccountInfo balanceAccountInfo, RequestOptions requestOptions)
      throws ApiException, IOException {
    String requestBody = balanceAccountInfo.toJson();
    Resource resource = new Resource(this, this.baseURL + "/balanceAccounts", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, null);
    return BalanceAccount.fromJson(jsonResult);
  }

  /**
   * Get all transaction rules for a balance account
   *
   * @param id {@link String } The unique identifier of the balance account. (required)
   * @return {@link TransactionRulesResponse }
   * @throws ApiException if fails to make API call
   */
  public TransactionRulesResponse getAllTransactionRulesForBalanceAccount(String id)
      throws ApiException, IOException {
    return getAllTransactionRulesForBalanceAccount(id, null);
  }

  /**
   * Get all transaction rules for a balance account
   *
   * @param id {@link String } The unique identifier of the balance account. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link TransactionRulesResponse }
   * @throws ApiException if fails to make API call
   */
  public TransactionRulesResponse getAllTransactionRulesForBalanceAccount(
      String id, RequestOptions requestOptions) throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource =
        new Resource(this, this.baseURL + "/balanceAccounts/{id}/transactionRules", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams);
    return TransactionRulesResponse.fromJson(jsonResult);
  }

  /**
   * Get a balance account
   *
   * @param id {@link String } The unique identifier of the balance account. (required)
   * @return {@link BalanceAccount }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccount getBalanceAccount(String id) throws ApiException, IOException {
    return getBalanceAccount(id, null);
  }

  /**
   * Get a balance account
   *
   * @param id {@link String } The unique identifier of the balance account. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link BalanceAccount }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccount getBalanceAccount(String id, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource = new Resource(this, this.baseURL + "/balanceAccounts/{id}", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams);
    return BalanceAccount.fromJson(jsonResult);
  }

  /**
   * Get payment instruments linked to a balance account
   *
   * @param id {@link String } The unique identifier of the balance account. (required)
   * @return {@link PaginatedPaymentInstrumentsResponse }
   * @throws ApiException if fails to make API call
   */
  public PaginatedPaymentInstrumentsResponse getPaymentInstrumentsLinkedToBalanceAccount(String id)
      throws ApiException, IOException {
    return getPaymentInstrumentsLinkedToBalanceAccount(id, null, null, null, null);
  }

  /**
   * Get payment instruments linked to a balance account
   *
   * @param id {@link String } The unique identifier of the balance account. (required)
   * @param offset {@link Integer } Query: The number of items that you want to skip. (optional)
   * @param limit {@link Integer } Query: The number of items returned per page, maximum 100 items.
   *     By default, the response returns 10 items per page. (optional)
   * @param status {@link String } Query: The status of the payment instruments that you want to
   *     get. By default, the response includes payment instruments with any status. (optional)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link PaginatedPaymentInstrumentsResponse }
   * @throws ApiException if fails to make API call
   */
  public PaginatedPaymentInstrumentsResponse getPaymentInstrumentsLinkedToBalanceAccount(
      String id, Integer offset, Integer limit, String status, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (offset != null) {
      queryParams.put("offset", offset.toString());
    }
    if (limit != null) {
      queryParams.put("limit", limit.toString());
    }
    if (status != null) {
      queryParams.put("status", status);
    }

    String requestBody = null;
    Resource resource =
        new Resource(this, this.baseURL + "/balanceAccounts/{id}/paymentInstruments", null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams, queryParams);
    return PaginatedPaymentInstrumentsResponse.fromJson(jsonResult);
  }

  /**
   * Update a balance account
   *
   * @param id {@link String } The unique identifier of the balance account. (required)
   * @param balanceAccountUpdateRequest {@link BalanceAccountUpdateRequest } (required)
   * @return {@link BalanceAccount }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccount updateBalanceAccount(
      String id, BalanceAccountUpdateRequest balanceAccountUpdateRequest)
      throws ApiException, IOException {
    return updateBalanceAccount(id, balanceAccountUpdateRequest, null);
  }

  /**
   * Update a balance account
   *
   * @param id {@link String } The unique identifier of the balance account. (required)
   * @param balanceAccountUpdateRequest {@link BalanceAccountUpdateRequest } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link BalanceAccount }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccount updateBalanceAccount(
      String id,
      BalanceAccountUpdateRequest balanceAccountUpdateRequest,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = balanceAccountUpdateRequest.toJson();
    Resource resource = new Resource(this, this.baseURL + "/balanceAccounts/{id}", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.PATCH, pathParams);
    return BalanceAccount.fromJson(jsonResult);
  }
}
