/*
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.balanceplatform;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.balanceplatform.ListMandatesResponse;
import com.adyen.model.balanceplatform.Mandate;
import com.adyen.model.balanceplatform.PatchableMandate;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class DirectDebitMandatesApi extends Service {

  public static final String API_VERSION = "2";

  protected String baseURL;

  /**
   * Direct debit mandates constructor in {@link com.adyen.service.balanceplatform package}.
   *
   * @param client {@link Client } (required)
   */
  public DirectDebitMandatesApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://balanceplatform-api-test.adyen.com/bcl/v2");
  }

  /**
   * Direct debit mandates constructor in {@link com.adyen.service.balanceplatform package}. Please
   * use this constructor only if you would like to pass along your own url for routing or testing
   * purposes. The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public DirectDebitMandatesApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Cancel a mandate
   *
   * @param mandateId {@link String } The unique identifier of the mandate. (required)
   * @throws ApiException if fails to make API call
   */
  public void cancelMandate(String mandateId) throws ApiException, IOException {
    cancelMandate(mandateId, null);
  }

  /**
   * Cancel a mandate
   *
   * @param mandateId {@link String } The unique identifier of the mandate. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void cancelMandate(String mandateId, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (mandateId == null) {
      throw new IllegalArgumentException("Please provide the mandateId path parameter");
    }
    pathParams.put("mandateId", mandateId);

    String requestBody = null;
    Resource resource = new Resource(this, this.baseURL + "/mandates/{mandateId}/cancel", null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
  }

  /**
   * Get a list of mandates
   *
   * @return {@link ListMandatesResponse }
   * @throws ApiException if fails to make API call
   */
  public ListMandatesResponse getListOfMandates() throws ApiException, IOException {
    return getListOfMandates(null, null, null, null);
  }

  /**
   * Get a list of mandates
   *
   * @param balanceAccountId {@link String } Query: The unique identifier of the balance account
   *     linked to the payment instrument. (optional)
   * @param paymentInstrumentId {@link String } Query: The unique identifier of the payment
   *     instrument linked to the mandate. (optional)
   * @param cursor {@link String } Query: The pagination cursor returned in a previous GET
   *     &#x60;/mandates&#x60; request. (optional)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link ListMandatesResponse }
   * @throws ApiException if fails to make API call
   */
  public ListMandatesResponse getListOfMandates(
      String balanceAccountId,
      String paymentInstrumentId,
      String cursor,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (balanceAccountId != null) {
      queryParams.put("balanceAccountId", balanceAccountId);
    }
    if (paymentInstrumentId != null) {
      queryParams.put("paymentInstrumentId", paymentInstrumentId);
    }
    if (cursor != null) {
      queryParams.put("cursor", cursor);
    }

    String requestBody = null;
    Resource resource = new Resource(this, this.baseURL + "/mandates", null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, null, queryParams);
    return ListMandatesResponse.fromJson(jsonResult);
  }

  /**
   * Get a specific mandate
   *
   * @param mandateId {@link String } The unique identifier of the mandate. (required)
   * @return {@link Mandate }
   * @throws ApiException if fails to make API call
   */
  public Mandate getMandateById(String mandateId) throws ApiException, IOException {
    return getMandateById(mandateId, null);
  }

  /**
   * Get a specific mandate
   *
   * @param mandateId {@link String } The unique identifier of the mandate. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link Mandate }
   * @throws ApiException if fails to make API call
   */
  public Mandate getMandateById(String mandateId, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (mandateId == null) {
      throw new IllegalArgumentException("Please provide the mandateId path parameter");
    }
    pathParams.put("mandateId", mandateId);

    String requestBody = null;
    Resource resource = new Resource(this, this.baseURL + "/mandates/{mandateId}", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams);
    return Mandate.fromJson(jsonResult);
  }

  /**
   * Amend a mandate
   *
   * @param mandateId {@link String } The unique identifier of the mandate. (required)
   * @param patchableMandate {@link PatchableMandate } (required)
   * @throws ApiException if fails to make API call
   */
  public void updateMandate(String mandateId, PatchableMandate patchableMandate)
      throws ApiException, IOException {
    updateMandate(mandateId, patchableMandate, null);
  }

  /**
   * Amend a mandate
   *
   * @param mandateId {@link String } The unique identifier of the mandate. (required)
   * @param patchableMandate {@link PatchableMandate } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void updateMandate(
      String mandateId, PatchableMandate patchableMandate, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (mandateId == null) {
      throw new IllegalArgumentException("Please provide the mandateId path parameter");
    }
    pathParams.put("mandateId", mandateId);

    String requestBody = patchableMandate.toJson();
    Resource resource = new Resource(this, this.baseURL + "/mandates/{mandateId}", null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.PATCH, pathParams);
  }
}
