/*
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.balanceplatform;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.balanceplatform.BalanceAccountConfiguration;
import com.adyen.model.balanceplatform.BalanceAccountConfigurationRequest;
import com.adyen.model.balanceplatform.BalanceAccountConfigurationUpdate;
import com.adyen.model.balanceplatform.BalanceAccountConfigurations;
import com.adyen.model.balanceplatform.BalancePlatformConfiguration;
import com.adyen.model.balanceplatform.BalancePlatformConfigurations;
import com.adyen.model.balanceplatform.ExecutionResult;
import com.adyen.model.balanceplatform.PayoutScheduleExecutions;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class ManagedPayoutSchedulesApi extends Service {

  public static final String API_VERSION = "2";

  protected String baseURL;

  /**
   * Managed payout schedules constructor in {@link com.adyen.service.balanceplatform package}.
   *
   * @param client {@link Client } (required)
   */
  public ManagedPayoutSchedulesApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://balanceplatform-api-test.adyen.com/bcl/v2");
  }

  /**
   * Managed payout schedules constructor in {@link com.adyen.service.balanceplatform package}.
   * Please use this constructor only if you would like to pass along your own url for routing or
   * testing purposes. The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public ManagedPayoutSchedulesApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Apply a managed payout schedule to a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param balanceAccountConfigurationRequest {@link BalanceAccountConfigurationRequest }
   *     (required)
   * @return {@link BalanceAccountConfiguration }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccountConfiguration applyManagedSchedule(
      String balanceAccountId,
      BalanceAccountConfigurationRequest balanceAccountConfigurationRequest)
      throws ApiException, IOException {
    return applyManagedSchedule(balanceAccountId, balanceAccountConfigurationRequest, null);
  }

  /**
   * Apply a managed payout schedule to a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param balanceAccountConfigurationRequest {@link BalanceAccountConfigurationRequest }
   *     (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link BalanceAccountConfiguration }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccountConfiguration applyManagedSchedule(
      String balanceAccountId,
      BalanceAccountConfigurationRequest balanceAccountConfigurationRequest,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);

    String requestBody = balanceAccountConfigurationRequest.toJson();
    Resource resource =
        new Resource(
            this, this.baseURL + "/balanceAccounts/{balanceAccountId}/payoutSchedules", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
    return BalanceAccountConfiguration.fromJson(jsonResult);
  }

  /**
   * Delete a managed payout schedule on a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param id {@link String } The unique identifier of the payout schedule applied to the balance
   *     account. (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteBalanceAccountManagedSchedule(String balanceAccountId, String id)
      throws ApiException, IOException {
    deleteBalanceAccountManagedSchedule(balanceAccountId, id, null);
  }

  /**
   * Delete a managed payout schedule on a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param id {@link String } The unique identifier of the payout schedule applied to the balance
   *     account. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void deleteBalanceAccountManagedSchedule(
      String balanceAccountId, String id, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource =
        new Resource(
            this, this.baseURL + "/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}", null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.DELETE, pathParams);
  }

  /**
   * Get a specific managed payout schedule on a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param id {@link String } The unique identifier of the payout schedule for the balance account.
   *     (required)
   * @return {@link BalanceAccountConfiguration }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccountConfiguration getBalanceAccountManagedScheduleById(
      String balanceAccountId, String id) throws ApiException, IOException {
    return getBalanceAccountManagedScheduleById(balanceAccountId, id, null);
  }

  /**
   * Get a specific managed payout schedule on a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param id {@link String } The unique identifier of the payout schedule for the balance account.
   *     (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link BalanceAccountConfiguration }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccountConfiguration getBalanceAccountManagedScheduleById(
      String balanceAccountId, String id, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource =
        new Resource(
            this, this.baseURL + "/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams);
    return BalanceAccountConfiguration.fromJson(jsonResult);
  }

  /**
   * Get all managed payout schedules on a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @return {@link BalanceAccountConfigurations }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccountConfigurations getBalanceAccountManagedSchedules(String balanceAccountId)
      throws ApiException, IOException {
    return getBalanceAccountManagedSchedules(balanceAccountId, null, null, null, null);
  }

  /**
   * Get all managed payout schedules on a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param currency {@link String } Query: The three-character [ISO currency
   *     code](https://docs.adyen.com/development-resources/currency-codes) of the currency used in
   *     the payout schedule. (optional)
   * @param cursor {@link String } Query: The &#x60;cursor&#x60; returned in the links of the
   *     previous response. (optional)
   * @param limit {@link Integer } Query: The number of items returned per page, maximum of 100
   *     items. By default, the response returns 10 items per page. (optional, default to 10)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link BalanceAccountConfigurations }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccountConfigurations getBalanceAccountManagedSchedules(
      String balanceAccountId,
      String currency,
      String cursor,
      Integer limit,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (currency != null) {
      queryParams.put("currency", currency);
    }
    if (cursor != null) {
      queryParams.put("cursor", cursor);
    }
    if (limit != null) {
      queryParams.put("limit", limit.toString());
    }

    String requestBody = null;
    Resource resource =
        new Resource(
            this, this.baseURL + "/balanceAccounts/{balanceAccountId}/payoutSchedules", null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams, queryParams);
    return BalanceAccountConfigurations.fromJson(jsonResult);
  }

  /**
   * Get a specific managed payout schedule on your balance platform
   *
   * @param balancePlatformId {@link String } The unique identifier of the balance platform.
   *     (required)
   * @param id {@link String } The unique identifier of the payout configuration for your balance
   *     platform. (required)
   * @return {@link BalancePlatformConfiguration }
   * @throws ApiException if fails to make API call
   */
  public BalancePlatformConfiguration getBalancePlatformManagedScheduleById(
      String balancePlatformId, String id) throws ApiException, IOException {
    return getBalancePlatformManagedScheduleById(balancePlatformId, id, null);
  }

  /**
   * Get a specific managed payout schedule on your balance platform
   *
   * @param balancePlatformId {@link String } The unique identifier of the balance platform.
   *     (required)
   * @param id {@link String } The unique identifier of the payout configuration for your balance
   *     platform. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link BalancePlatformConfiguration }
   * @throws ApiException if fails to make API call
   */
  public BalancePlatformConfiguration getBalancePlatformManagedScheduleById(
      String balancePlatformId, String id, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balancePlatformId == null) {
      throw new IllegalArgumentException("Please provide the balancePlatformId path parameter");
    }
    pathParams.put("balancePlatformId", balancePlatformId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = null;
    Resource resource =
        new Resource(
            this,
            this.baseURL + "/balancePlatforms/{balancePlatformId}/payoutSchedules/{id}",
            null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams);
    return BalancePlatformConfiguration.fromJson(jsonResult);
  }

  /**
   * Get all managed payout schedules on your balance platform
   *
   * @param balancePlatformId {@link String } The unique identifier of the balance platform.
   *     (required)
   * @return {@link BalancePlatformConfigurations }
   * @throws ApiException if fails to make API call
   */
  public BalancePlatformConfigurations getBalancePlatformManagedSchedules(String balancePlatformId)
      throws ApiException, IOException {
    return getBalancePlatformManagedSchedules(balancePlatformId, null, null, null);
  }

  /**
   * Get all managed payout schedules on your balance platform
   *
   * @param balancePlatformId {@link String } The unique identifier of the balance platform.
   *     (required)
   * @param countryCode {@link String } Query: The two-letter [ISO 3166-1
   *     alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country to
   *     which the payout configuration applies. (optional)
   * @param currency {@link String } Query: The three-character [ISO currency
   *     code](https://docs.adyen.com/development-resources/currency-codes) of the currency used in
   *     the payout configuration. (optional)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link BalancePlatformConfigurations }
   * @throws ApiException if fails to make API call
   */
  public BalancePlatformConfigurations getBalancePlatformManagedSchedules(
      String balancePlatformId, String countryCode, String currency, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balancePlatformId == null) {
      throw new IllegalArgumentException("Please provide the balancePlatformId path parameter");
    }
    pathParams.put("balancePlatformId", balancePlatformId);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (countryCode != null) {
      queryParams.put("countryCode", countryCode);
    }
    if (currency != null) {
      queryParams.put("currency", currency);
    }

    String requestBody = null;
    Resource resource =
        new Resource(
            this, this.baseURL + "/balancePlatforms/{balancePlatformId}/payoutSchedules", null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams, queryParams);
    return BalancePlatformConfigurations.fromJson(jsonResult);
  }

  /**
   * View executions of a managed payout schedule
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param id {@link String } The unique identifier of the payout schedule on the balance account.
   *     (required)
   * @param offset {@link Integer } Query: The page number to be returned. Default: **1** (required)
   * @return {@link PayoutScheduleExecutions }
   * @throws ApiException if fails to make API call
   */
  public PayoutScheduleExecutions getPayoutScheduleExecutions(
      String balanceAccountId, String id, Integer offset) throws ApiException, IOException {
    return getPayoutScheduleExecutions(balanceAccountId, id, null, null, offset, null);
  }

  /**
   * View executions of a managed payout schedule
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param id {@link String } The unique identifier of the payout schedule on the balance account.
   *     (required)
   * @param results {@link List&lt;ExecutionResult&gt; } Query: Contains a list of payout statuses.
   *     If included, the response returns only executed payouts that currently have one of the
   *     specified statuses. Possible statuses: - **succeeded**: The payout was sent successfully. -
   *     **failed**: The payout was not sent due to an error. - **skipped**: The payout was not
   *     triggered as expected. (optional
   * @param limit {@link Integer } Query: The number of items returned per page. Default: **10**
   *     (optional)
   * @param offset {@link Integer } Query: The page number to be returned. Default: **1** (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link PayoutScheduleExecutions }
   * @throws ApiException if fails to make API call
   */
  public PayoutScheduleExecutions getPayoutScheduleExecutions(
      String balanceAccountId,
      String id,
      List<ExecutionResult> results,
      Integer limit,
      Integer offset,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (results != null) {
      queryParams.put("results", results.toString());
    }
    if (limit != null) {
      queryParams.put("limit", limit.toString());
    }
    if (offset != null) {
      queryParams.put("offset", offset.toString());
    }

    String requestBody = null;
    Resource resource =
        new Resource(
            this,
            this.baseURL + "/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}/executions",
            null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams, queryParams);
    return PayoutScheduleExecutions.fromJson(jsonResult);
  }

  /**
   * Update a managed payout schedule on a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param id {@link String } The unique identifier of the payout schedule applied to the balance
   *     account. (required)
   * @param balanceAccountConfigurationUpdate {@link BalanceAccountConfigurationUpdate } (required)
   * @return {@link BalanceAccountConfiguration }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccountConfiguration updateBalanceAccountManagedSchedule(
      String balanceAccountId,
      String id,
      BalanceAccountConfigurationUpdate balanceAccountConfigurationUpdate)
      throws ApiException, IOException {
    return updateBalanceAccountManagedSchedule(
        balanceAccountId, id, balanceAccountConfigurationUpdate, null);
  }

  /**
   * Update a managed payout schedule on a balance account
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param id {@link String } The unique identifier of the payout schedule applied to the balance
   *     account. (required)
   * @param balanceAccountConfigurationUpdate {@link BalanceAccountConfigurationUpdate } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link BalanceAccountConfiguration }
   * @throws ApiException if fails to make API call
   */
  public BalanceAccountConfiguration updateBalanceAccountManagedSchedule(
      String balanceAccountId,
      String id,
      BalanceAccountConfigurationUpdate balanceAccountConfigurationUpdate,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);
    if (id == null) {
      throw new IllegalArgumentException("Please provide the id path parameter");
    }
    pathParams.put("id", id);

    String requestBody = balanceAccountConfigurationUpdate.toJson();
    Resource resource =
        new Resource(
            this, this.baseURL + "/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.PATCH, pathParams);
    return BalanceAccountConfiguration.fromJson(jsonResult);
  }
}
