/*
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.adyen.service.balanceplatform;

import com.adyen.Client;
import com.adyen.Service;
import com.adyen.constants.ApiConstants;
import com.adyen.model.RequestOptions;
import com.adyen.model.balanceplatform.CreateRecurringTopUp;
import com.adyen.model.balanceplatform.PatchableCreateRecurringTopUp;
import com.adyen.model.balanceplatform.RecurringTopUp;
import com.adyen.model.balanceplatform.RecurringTopUpsResult;
import com.adyen.service.exception.ApiException;
import com.adyen.service.resource.Resource;
import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

public class RecurringTopUpsApi extends Service {

  public static final String API_VERSION = "2";

  protected String baseURL;

  /**
   * Recurring top ups constructor in {@link com.adyen.service.balanceplatform package}.
   *
   * @param client {@link Client } (required)
   */
  public RecurringTopUpsApi(Client client) {
    super(client);
    this.baseURL = createBaseURL("https://balanceplatform-api-test.adyen.com/bcl/v2");
  }

  /**
   * Recurring top ups constructor in {@link com.adyen.service.balanceplatform package}. Please use
   * this constructor only if you would like to pass along your own url for routing or testing
   * purposes. The latest API version is defined in this class as a constant.
   *
   * @param client {@link Client } (required)
   * @param baseURL {@link String } (required)
   */
  public RecurringTopUpsApi(Client client, String baseURL) {
    super(client);
    this.baseURL = baseURL;
  }

  /**
   * Create recurring top up
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param createRecurringTopUp {@link CreateRecurringTopUp } (required)
   * @return {@link RecurringTopUp }
   * @throws ApiException if fails to make API call
   */
  public RecurringTopUp createRecurringTopUp(
      String balanceAccountId, CreateRecurringTopUp createRecurringTopUp)
      throws ApiException, IOException {
    return createRecurringTopUp(balanceAccountId, createRecurringTopUp, null);
  }

  /**
   * Create recurring top up
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param createRecurringTopUp {@link CreateRecurringTopUp } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link RecurringTopUp }
   * @throws ApiException if fails to make API call
   */
  public RecurringTopUp createRecurringTopUp(
      String balanceAccountId,
      CreateRecurringTopUp createRecurringTopUp,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);

    String requestBody = createRecurringTopUp.toJson();
    Resource resource =
        new Resource(
            this, this.baseURL + "/balanceAccounts/{balanceAccountId}/recurringTopUps", null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.POST, pathParams);
    return RecurringTopUp.fromJson(jsonResult);
  }

  /**
   * Delete a recurring top up
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param topUpId {@link String } The unique identifier of the recurring top-up you want to
   *     delete. (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteRecurringTopUp(String balanceAccountId, String topUpId)
      throws ApiException, IOException {
    deleteRecurringTopUp(balanceAccountId, topUpId, null);
  }

  /**
   * Delete a recurring top up
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param topUpId {@link String } The unique identifier of the recurring top-up you want to
   *     delete. (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @throws ApiException if fails to make API call
   */
  public void deleteRecurringTopUp(
      String balanceAccountId, String topUpId, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);
    if (topUpId == null) {
      throw new IllegalArgumentException("Please provide the topUpId path parameter");
    }
    pathParams.put("topUpId", topUpId);

    String requestBody = null;
    Resource resource =
        new Resource(
            this,
            this.baseURL + "/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}",
            null);
    resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.DELETE, pathParams);
  }

  /**
   * Get recurring top ups for a specific balanceAccountId
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @return {@link RecurringTopUpsResult }
   * @throws ApiException if fails to make API call
   */
  public RecurringTopUpsResult getRecurringTopUps(String balanceAccountId)
      throws ApiException, IOException {
    return getRecurringTopUps(balanceAccountId, null, null, null);
  }

  /**
   * Get recurring top ups for a specific balanceAccountId
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param limit {@link Integer } Query: The number of items to return per page. Value must be
   *     between 1 and 100. (optional, default to 10)
   * @param cursor {@link String } Query: The cursor used for pagination. Required if you want to
   *     see the next or previous page of results. (optional)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link RecurringTopUpsResult }
   * @throws ApiException if fails to make API call
   */
  public RecurringTopUpsResult getRecurringTopUps(
      String balanceAccountId, Integer limit, String cursor, RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);

    // Add query params
    Map<String, String> queryParams = new HashMap<>();
    if (limit != null) {
      queryParams.put("limit", limit.toString());
    }
    if (cursor != null) {
      queryParams.put("cursor", cursor);
    }

    String requestBody = null;
    Resource resource =
        new Resource(
            this, this.baseURL + "/balanceAccounts/{balanceAccountId}/recurringTopUps", null);
    String jsonResult =
        resource.request(
            requestBody, requestOptions, ApiConstants.HttpMethod.GET, pathParams, queryParams);
    return RecurringTopUpsResult.fromJson(jsonResult);
  }

  /**
   * Update a RecurringTopUp
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param topUpId {@link String } The unique identifier of the recurring top-up you want to
   *     update. (required)
   * @param patchableCreateRecurringTopUp {@link PatchableCreateRecurringTopUp } (required)
   * @return {@link RecurringTopUp }
   * @throws ApiException if fails to make API call
   */
  public RecurringTopUp updateRecurringTopUps(
      String balanceAccountId,
      String topUpId,
      PatchableCreateRecurringTopUp patchableCreateRecurringTopUp)
      throws ApiException, IOException {
    return updateRecurringTopUps(balanceAccountId, topUpId, patchableCreateRecurringTopUp, null);
  }

  /**
   * Update a RecurringTopUp
   *
   * @param balanceAccountId {@link String } The unique identifier of the balance account.
   *     (required)
   * @param topUpId {@link String } The unique identifier of the recurring top-up you want to
   *     update. (required)
   * @param patchableCreateRecurringTopUp {@link PatchableCreateRecurringTopUp } (required)
   * @param requestOptions {@link RequestOptions } Object to store additional HTTP headers such as
   *     idempotency-keys (optional)
   * @return {@link RecurringTopUp }
   * @throws ApiException if fails to make API call
   */
  public RecurringTopUp updateRecurringTopUps(
      String balanceAccountId,
      String topUpId,
      PatchableCreateRecurringTopUp patchableCreateRecurringTopUp,
      RequestOptions requestOptions)
      throws ApiException, IOException {
    // Add path params
    Map<String, String> pathParams = new HashMap<>();
    if (balanceAccountId == null) {
      throw new IllegalArgumentException("Please provide the balanceAccountId path parameter");
    }
    pathParams.put("balanceAccountId", balanceAccountId);
    if (topUpId == null) {
      throw new IllegalArgumentException("Please provide the topUpId path parameter");
    }
    pathParams.put("topUpId", topUpId);

    String requestBody = patchableCreateRecurringTopUp.toJson();
    Resource resource =
        new Resource(
            this,
            this.baseURL + "/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}",
            null);
    String jsonResult =
        resource.request(requestBody, requestOptions, ApiConstants.HttpMethod.PATCH, pathParams);
    return RecurringTopUp.fromJson(jsonResult);
  }
}
