{{! Overload contains just required and body params }}
{{#requiredParams}}{{^isHeaderParam}}{{^isBodyParam}}{{#isFile}}{{#isArray}}java.util.List<com.adyen.httpclient.HttpFile>{{/isArray}}{{^isArray}}com.adyen.httpclient.HttpFile{{/isArray}}{{/isFile}}{{^isFile}}{{{dataType}}}{{/isFile}} {{paramName}}{{^-last}}, {{/-last}}{{#-last}}{{#hasBodyParam}}, {{/hasBodyParam}}{{/-last}}{{/isBodyParam}}{{/isHeaderParam}}
{{/requiredParams}}{{#bodyParams}}{{{dataType}}} {{paramName}}{{/bodyParams}}