name: Coveralls

on: [push]

jobs:

  coveralls:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build & Test
        run: mvn clean test
      - name: Build with Maven
        run: mvn test jacoco:report
      - name: Coveralls Coverage Report Submission
        run: mvn coveralls:report --define repoToken=${{ secrets.COVERALL_REPO_TOKEN }}
