# Deprecated

name: Format and Commit Java Code

on:
  workflow_dispatch:
  push:
    branches:
      - 'sdk-automation/*'

permissions:
  contents: write

jobs:
  format:
    if: ${{ github.event.commits != null && !startsWith(github.event.head_commit.message, 'style(fmt)') }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}

      - name: Format Java Code
        uses: ./.github/actions/format
        with:
          path: .

      - name: Commit and Push Changes
        env:
          BOT_EMAIL: ${{ secrets.ADYEN_AUTOMATION_BOT_EMAIL }}
        run: |
          git config user.name AdyenAutomationBot
          git config user.email "$BOT_EMAIL"
          git add .
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "style(fmt): code formatted"
            git push
          fi
