name: Java CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - promote/main
  merge_group:    
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  java-check:
    name: Java Code Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Set up JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: '21'
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-
      - name: Check code style
        run: mvn -B checkstyle:check --no-transfer-progress

  java-test:
    name: Build and Test
    runs-on: ubuntu-latest
    needs: java-check

    strategy:
      matrix:
        java: [ '11', '17', '21', '25' ]

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-
      - name: Run tests with coverage
        run: mvn -B clean test package --no-transfer-progress
