name: Label New Issues
on:
  issues:
    types: [opened]

permissions:
  issues: write

jobs:
  add-label:
    runs-on: ubuntu-latest
    steps:
      - name: Add 'needs response' label to new issues
        uses: actions-ecosystem/action-add-labels@bd52874380e3909a1ac983768df6976535ece7f8
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: 'needs response'
