name: Automated Release Preparation

# This workflow runs automatically when a pull request is merged into the main branch.
# It prepares the next release by creating or updating a "Release PR" with the new version and changelog.
# The final release publication, which triggers the 'publish.yml' workflow, happens when that "Release PR" is merged.
on:
  workflow_dispatch:
    inputs:
      pre-release:
        required: false
        type: boolean
        default: false
        description: "This release will be labeled as non-production ready"
      github-release:
        required: false
        type: boolean
        default: false
        description: "Publish Github release for the current version"
  pull_request:
    types:
      - closed
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    # 1. Allow manual dispatch
    # 2. OR (If it's a PR, it must be merged AND from the same repository)
    if: |
      github.event_name == 'workflow_dispatch' || 
      (github.event.pull_request.merged == true && github.event.pull_request.head.repo.full_name == github.repository)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Prepare the next main release
        uses: Adyen/release-automation-action@3e5694d5b365f344a62436e84049511ef318ecf5
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
          develop-branch: main
          version-files: pom.xml src/main/java/com/adyen/Client.java README.md
          release-title: Adyen Java API Library
          pre-release: ${{ inputs.pre-release || false }}
          github-release: ${{ inputs.github-release || false }}
          separator: .pre.beta
