name: Maven Release

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish-maven:
  run-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: adopt
    - name: Release with Maven
      run: mvn deploy